body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fbe2e2;
}

header {
  display: flex;
  background-color: bisque;
  margin: auto;
  height: 100px;
  align-items: flex-end;
  justify-content: center;
}

nav {
  display: flex;
  width: 100%;
  /* height: 100%; */
  /* align-items: center; */
  justify-content: space-between;
  margin: 0px 10px 0 10px;
}

img {
  border: 2px solid #701a1a;
}

nav img {
  height: 50px;

}

nav ul {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  font-size: 1em;
  padding-right: 10px;
}

h1 {
  padding-top: 1em;
  font-size: 45px;
  font-family: 'Alkalami', serif;
  color: #111f36;
  text-shadow: 1px 1px #ff2929;
}

#chinook-div {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#chinook-img {
  height: 100px;
  margin: auto;
  padding: 10px;
  border: none;
}

#location {
  text-align: center;
  margin: 1em;
  border: 10px ridge #111f36;
  background-color: bisque;
}

h2 {
  font-size: 1.5em;
  padding: 5px;
}

#hours {
  padding: 5px;
}

section ul {
  list-style-type: disc;
  margin: auto;
  width: 80%;
  padding-top: 10px;
}

.location-name {
  font-size: 1em;
  font-weight: bold;
}

.address {
  font-size: 0.75em;
  padding: 5px;
}

#image-section {
  display: flex;
  justify-content: space-around;
  padding: 1em 5em 1em 5em;
}

.image-row {
  height: 5em;
}

/* SALES PAGE */
table, td, th {
  border: 1px solid salmon;
}