body {

}

ul {
  display: block;
  list-style-type: disc; 
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 1em;
  margin-right: 0;
  padding-left: 20px;
}

h3 {
  margin: 1em;
  font-family: 'Alkalami', serif;
}

table, td, th {
  border: 1px solid salmon;
}